@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.prose h1, .prose h2 {
    font-weight: 600;
    letter-spacing: -0.025em;
}

.prose ul, .prose ol {
    margin-bottom: 1.25rem;
}